.App {
  font-family: 'Roboto', sans-serif;
}

html {
  background-color: #5CDB95;
}

.MuiTypography-root.MuiTypography-h3 {
  text-align: center;
  color: #05386B;
}

.MuiBox-root.css-omnl36 {
  background-color: #5CDB95;
  color: #05386B;
}